body{
    background-color:  #EEEEEE;
    font-family: sans-serif;
    color: black;
    text-align: justify;
}
p{
    background-color: #CCCCCC;
    line-height: 150%;
}
h1{
    font-size: 32px;
    text-align: center;
    color: #333333;
    text-transform: uppercase;
}
h2{
    background-color: #888888;
    color:#FF0000;
    font-size: 24px;
}
h3{
    background-color: #AAAAAA;
    color:#8B008B;
    font-size: 21px;
}
em{
    color: #0000FC;
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
}
strong{
    color: #008000;
    font-weight: normal;
}
address{
    background-color: white;
    text-align: right;
    font-style: normal;
}
